

.greeting-pitch {
  background-image: url("/greeting-post-it-note.jpg");
  /* background-image: image-url('/greeting-post-it-note.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.greeting-brand-product {
  position: absolute;
  top: 50px;
  left: 80px;
}

.greeting-brand {
  font-size: 45px;
  color:white;
  font-weight: 100;
  margin-right: 5px;
}
.greeting-product-name {
  font-size: 45px;
  color: white;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: lightgray;
}

.greeting-tagline-btn-container {
  position: absolute;
  top: 60%;
  right: 10%;
  text-align: center;
}

.greeting-tagline {
  font-size: 50px;
  color: white;
  margin-bottom: 15px;
}

.greeting-button-container {
  display: flex;
}

.greeting-link {
  font-family: 'Open Sans', sans-serif;
  background-color:#0080ff;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
  width: 80px;
  text-align: center;
}

.greeting-btn {
  font-family: 'Open Sans', sans-serif;
  background-color:#0080ff;
  font-size: 20px;
  color: white;
  margin: 10px;
  border-radius: 8px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  width: 130px;
}

.greeting-btn:focus {
  outline: 0;
}