
.label-index-edit-form {
  width: 250px;
  padding: 20px 13px;
  background-color: white;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 3px 5px 1px #5E5E5E; 
  box-shadow: 2px 3px 5px 1px #5E5E5E;
}

.label-index-edit-form-title {
  margin-bottom: 15px;
}

.label-form-create-left-icon {
  color: #aba9a9;
  width: 10px;
}

.label-index-create-form-text-input {
  margin-left: 17px;
  height: 25px;
  width: 175px;
  border: none;
  font-size: 14px;
  outline: none;
}

.label-index-create-form-text-input:focus {
  border-bottom: 1px solid lightgray;
}

.label-form-create-right-icon {
  margin-left: 20px;
  color: #aba9a9;
}

.label-index-edit-form-done-div {
  margin-top: 20px;
  padding-top: 10px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-top: 1px solid lightgray;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.label-index-edit-form-done {
  cursor: pointer;
}