
.header {
  height: 75px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-left-title-display {
  display: flex;
  align-items: center;
}

.fa-bars {
  color: #676c73;
  cursor: pointer;
  margin-right: 13px;
}

.fal.fa-lightbulb {
  color: white;
  background-color: #fabc02;
  padding: 10px 10px;
  border-radius: 4px;
  margin-right: 13px;
}

.header-left-title {
  font-size: 22px;
  color: #676c73;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: lightgray;
}

.header-logout {
  margin-left: auto;
  margin-right: 10%;
  padding: 13px 20px;
  cursor: pointer;
  border: 0.5px solid lightgray;
  -webkit-box-shadow: 0px 4px 2px -2px #919191; 
  box-shadow: 3px 4px 2px -2px #919191;
  border-radius: 5px;
}

.subheader {
  display: flex;
  padding-top: 75px;
}

.subheader-sidebar {
  position: fixed;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 17px;
  font-weight: 500;
  color: #202124;
  left: 0px;
  transition: left .4s;
}

.subheader-sidebar.hidden {
  left: -500px;
  transition: left .4s;
}

.subheader-sidebar-li {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.subheader-sidebar-li:hover {
  background-color: #feefc3;
  border-radius: 0px 20px 20px 0px;
}

.far.fa-lightbulb {
  margin-left: 20px;
  margin-right: 13px;
}

.subheader-sidebar-all-notes {
  font-size: 15px;
}

.subheader-note-form {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
}

.main-sidebar {
  position: fixed;
  width: 280px;
  left: 0px;
  transition: left .4s;
}

.main-sidebar.hidden {
  position: fixed;
  left: -500px;
  transition: left .4s;
}

.main-note-index {
  position: relative;
  left: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left .4s;
}

.main-note-index.hidden {
  left: 0px;
  transition: left .4s;
}