
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(214, 213, 213, 0.7);
  z-index: 10;
  animation-name: modalAppear;
  animation-duration: .33s;
  animation-timing-function: linear;
}

@keyframes modalAppear { 
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.modal-child {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -10%);
}
