
.note-item {
  padding: 10px 16px 12px;
  margin: 7px;
  background-color: #e8eaed;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 238px;
}

.note-item-title {
  font-size: 16px;
}

.note-item-body {
  font-size: 14px;
  line-height: 20px;
}

