
.note-update {
  width: 500px;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 3px 5px 1px #5E5E5E; 
  box-shadow: 2px 3px 5px 1px #5E5E5E;
  border-radius: 10px;
  animation-name: noteAppear;
  animation-duration: .33s;
  animation-timing-function: linear;
  cursor: pointer;
}

@keyframes noteAppear { 
    0% { 
      width: 0px;
      height: 0px;
      opacity: 0;
     }
    100% { opacity: 1; }
}


.note-update-title {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 22px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.note-update-title:focus {
  outline: none;
}


.note-update-body {
  width: 100%;
  height: 325px;
  padding: 5px 20px;
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  resize: none;
  line-height: 23px;
  white-space: pre-wrap;
  cursor: pointer;
}

.note-update-body:focus {
  outline: none;
}

.note-update-bottom-tray {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-update-actions {
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px;
}

.note-update-button {
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.note-update-button:focus {
  outline: none;
}

.note-form-update-edit-labels-container {
  position: relative;
  height: 1px;
}

