
.note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 16px 12px;
  margin: 7px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 238px;
}

.note-item:hover {
  -webkit-box-shadow: 2px 3px 5px 1px #5E5E5E; 
  box-shadow: 2px 3px 5px 1px #5E5E5E;
}

.note-item-title {
  font-size: 16px;
}

.note-item-body {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
}

.note-item-label-tray {
  margin-top: 15px;
  margin-bottom: 5px;
}

.note-item-tray {
  margin-top: 15px;
  height: 20px;
  color: white;
  transition: color 1.25s;
}

.note-item-tray:hover {
  color: black;
  transition-delay: 5s;
  transition: color 1s;
}

.tray-item {
  padding-left: 5px;
  padding-right: 5px;
}
