

.pinned-note-index-ul {
  width: 1600px;
  margin: 1px auto;
  columns: 6;
  column-gap: 35px;
}

.unpinned-note-index-ul {
  width: 1600px;
  margin: 1px auto;
  columns: 6;
  column-gap: 35px;
}

.pinned-note-index-ul .note-item {
  /* margin: 0 0 10px; */
  padding: 10px;
  break-inside: avoid;
}

.unpinned-note-index-ul .note-item {
  margin: 0 0 10px;
  padding: 10px;
  break-inside: avoid;
}

.note-index-subtitle-top {
  font-variant: small-caps;
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #5F6368;
}

.note-index-subtitle-bottom {
  font-variant: small-caps;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #5F6368;
}


@media (max-width: 1900px)  {
  .pinned-note-index-ul {
    columns: 5;
    width: 1325px;
    /* box-sizing: border-box; */
    /* padding: 20px 20px 20px 0; */
  }
}

@media (max-width: 1600px)  {
  .pinned-note-index-ul {
    columns: 4;
    width: 1050px;
  }
}

@media (max-width: 1320px)  {
  .pinned-note-index-ul {
    columns: 3;
    width: 775px;
  }
}

@media (max-width: 1025px)  {
  .pinned-note-index-ul {
    columns: 2;
    width: 500px;
  }
}

@media (max-width: 1900px)  {
  .unpinned-note-index-ul {
    columns: 5;
    width: 1325px;
    /* box-sizing: border-box; */
    /* padding: 20px 20px 20px 0; */
  }
}

@media (max-width: 1600px)  {
  .unpinned-note-index-ul {
    columns: 4;
    width: 1050px;
  }
}

@media (max-width: 1320px)  {
  .unpinned-note-index-ul {
    columns: 3;
    width: 775px;
  }
}

@media (max-width: 1025px)  {
  .unpinned-note-index-ul {
    columns: 2;
    width: 500px;
  }
}